body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #dcdcdc;
}
.container {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #d1fdf7;
    border-radius: 8px;
    border-style: solid;
    box-shadow: 0 0 15px rgb(0,0,0,0.1);
}
h1 {
    text-align: center;
    color: #333;
}
.question {
    margin-bottom: 20px;
}
.question label {
    font-size: 1.2em;
}
.question input {
    margin-right: 10px;
}
.result {
    margin-top: 30px;
    padding: 15px;
    background-color: #dcc1f9;
    color: #613c76;
    border: 1px solid #a143d8;
    border-radius: 5px;
    display: none;
}
.book-recommendations {
    margin-top: 20px;
    padding: 15px;
    background-color: #d1fdf7;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.book-recommendations ul {
    list-style: none;
    padding: 0;
}
.book-recommendations li {
    margin: 10px 0;
}
.book-recommendations a {
    text-decoration: none;
    color: #200036;
}
